body {
	font-family: Verdana;
}

#container {
	width: 70%;
	margin: 0 auto;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 15px;
}

.suggestion {
	padding: 10px;
	border: 1px solid lightgray;
	margin-top: 5px;
	list-style: none;
	cursor: pointer;
}

#address {
	width: 400px;
}

#footer {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}